
<div>
  <h1> Edit Item</h1>
  <%= link_to 'Delete Item?', list_path(@list), method: :delete %>
  <ul>
  <%= form_for @list do |f| %>
    <li><p><%= f.label :chore %>:
    <%= f.text_field :chore %></p></li>

    <li><p><%= f.label :description %>
    <%= f.text_field :description %></p></li>

    <%= f.label :complete %>
    <%= f.check_box :complete %>


    <%= f.submit %>
  <%end%>

</div>
