<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
    <%=link_to 'Home', root_path%> | <%=link_to 'To Do List', lists_path%> | <%=link_to 'Completed', complete_path%>
    <%= yield %>
  </div>
  </body>
</html>
